/klp_embeddings_batch_size3000_00000.npy
/klp_embeddings_batch_size3000_00001.npy
/klp_embeddings_batch_size3000_00002.npy
/klp_embeddings_batch_size3000_00003.npy
/klp_embeddings_batch_size3000_00004.npy
/klp_embeddings_batch_size3000_00005.npy
/klp_embeddings_batch_size3000_00006.npy
/klp_embeddings_batch_size3000_00007.npy
/klp_embeddings_batch_size3000_00008.npy
/klp_embeddings_batch_size3000_00009.npy
/klp_embeddings_batch_size3000_00010.npy
/klp_embeddings_batch_size3000_00011.npy
/klp_embeddings_batch_size3000_00012.npy
/klp_embeddings_batch_size3000_00013.npy
/klp_embeddings_batch_size3000_00014.npy
/klp_embeddings_batch_size3000_00015.npy
